/*Global Style*/
body
{
	position: fixed;
	margin: 0;
	font-family: 'Signika', sans-serif;
}

.chatroom
{
	background-color: rgba(0,0,0,0.1);
	width: 100vw;
	height: 100vh;
}

.chatcontroller
{
	position: fixed;
    bottom: 10px;
    left: calc(50% + 10px);
    width: calc(50% - 20px);
    transform: translateX(-50%);
}

.chatinput
{
	width: calc(100% - 42px);
    padding: 2px 10px;
    font-size: 16px;
    font-family: inherit;
    line-height: 28px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 8px;
    outline-width: 0;
}

.chatsend
{
	float: right;
    padding: 5px 7px;
    line-height: 36px;
    font-size: 24px;
    text-align: center;
    background-color: rgba(0,0,0,0.3);
    color: rgba(255,255,255,1);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.25s;
}

.chatsend:hover
{
	background-color: rgba(0,0,0,0.5);
}

.online
{
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    color: rgba(0,0,0,0.4);
}

.chattemp
{
    position: absolute;
    color: rgba(0,0,0,0.75);
    top: -28px;
    left: 50%;
    transform: translateX(-50%);
}

.chattemp-bar
{
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    top: -10px;
    height: 8px;
    border-radius: 8px;
    transition: 0.1s;
}

.chatblock
{
    position: fixed;
    max-width: 400px;
    word-wrap: break-word;
    text-align: center;
    height: auto;
    transform: translate(-50%,-50%);
    transition: 1s;
}

@keyframes opaque {
    from {opacity: 0;}
    to {opacity: 1;}
}

.chatblock-opaque
{
    animation-name: opaque;
    animation-duration: 1s;
}

.chatblock-transparent
{
    opacity: 0;
}

.ripple
{
    position: fixed;
    background-color: rgba(0,0,0,0);
    box-shadow: inset 0px 0px 130px 20px rgba(0,0,0,0.5);
    border-radius: 100%;
    transform: translate(-50%,-50%);
    animation-name: ripplesplash;
    animation-duration: 1s;
}

@keyframes ripplesplash {
    from {
        opacity: 1;
        width: 0;
        height: 0;
    }
    to {
        opacity: 0;
        width: 50vw;
        height: 50vw;
    }
}