{% extends 'frame.html' %}

{% block base %}
<div id="vue">
	<div class="container-fluid">
		<div v-if="mechanics.show.title">
			{% include 'title.html' %}
		</div>
		<div v-if="mechanics.show.input" class="row mt-4 justify-content-center">
			<div class="col-md-4 col-12 px-md-3">
				{% with method="submit" %}
					{% include 'input.html' %}
				{% endwith %}
			</div>
		</div>
		<div v-if="mechanics.show.create">
			{% include 'create.html' %}
		</div>
		<div v-if="mechanics.show.room">
			{% include 'room.html' %}
		</div>
	</div>
</div>
{% endblock %}